/*******************************************************************************
 *                    Fonts to be used in this project                         *
 *******************************************************************************/
@import 'https://fonts.googleapis.com/css?family=Playfair+Display|Raleway';
/*              Example                   
    font-family: 'Raleway', sans-serif;
    font-family: 'Playfair Display', serif;
*/

/*******************************************************************************
 *                            Home Page Styling                                *
 *******************************************************************************/



/*---------------------------------------------------------------------*/
/*  1. GLOBAL STYLES
/*---------------------------------------------------------------------*/
*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #f2f4f4;
  font-family: 'Lato', sans-serif;
  color: #222222;
  overflow-x: hidden;
}
a {
  outline: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0 0 15px;
}
.push {
  margin-left: 0px;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
@media (min-width: 992px) {
  .push.pushed-left {
    margin-left: 250px;
  }
}
@media (min-width: 992px) {
  .push.pushed-right {
    margin-left: -250px;
  }
}
.section {
  background-color: #f2f4f4;
}
.section > .section-inner {
  position: relative;
}
.section > .section-inner .section-content {
  padding-top: 50px;
  padding-bottom: 60px;
}
@media (min-width: 1024px) {
  .section > .section-inner .section-content {
    padding-top: 70px;
    padding-bottom: 80px;
  }
}
.section > .section-inner .section-content .section-title {
  color: #222;
  text-transform: uppercase;
  padding-bottom: 40px;
}
@media (min-width: 1024px) {
  .section > .section-inner .section-content .section-title {
    padding-bottom: 60px;
  }
}
.section > .section-inner .section-content .section-title > .main-title {
  font-size: 35px;
  font-weight: 300;
}
@media (min-width: 480px) {
  .section > .section-inner .section-content .section-title > .main-title {
    font-size: 45px;
  }
}
@media (min-width: 600px) {
  .section > .section-inner .section-content .section-title > .main-title {
    font-size: 55px;
  }
}
@media (min-width: 768px) {
  .section > .section-inner .section-content .section-title > .main-title {
    font-size: 60px;
  }
}
.section > .section-inner .section-content .section-title > .sub-title {
  font-size: 20px;
  font-weight: 300;
}
@media (min-width: 480px) {
  .section > .section-inner .section-content .section-title > .sub-title {
    font-size: 25px;
  }
}
.section > .section-inner .section-content .section-line {
  display: inline-block;
  width: 50px;
  height: 1px;
  background-color: #222;
}
.section.section-bgimage-yes {
  background-color: #222;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
@media (min-width: 1280px) {
  .section.section-bgimage-yes {
    background-attachment: fixed;
  }
}
.section.section-bgimage-yes > .section-inner > .section-overlay {
  content: '';
  position: absolute;
  background-color: #000;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  zoom: 1;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
}
.section.section-parallax-yes > .section-inner > .section-overlay {
  content: '';
  position: absolute;
  background-color: #000;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  zoom: 1;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
}
.section.section-parallax-yes > .section-inner > .parallax .bcg {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
@media (min-width: 1280px) {
  .section.section-parallax-yes > .section-inner > .parallax .bcg {
    background-attachment: fixed;
  }
}


/*---------------------------------------------------------------------*/
/*  2. ANIMATION DELAY
/*---------------------------------------------------------------------*/
.delayp1 {
  animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-delay: .1s;
  -o-animation-delay: .1s;
  transition-delay: .1s;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
}
.delayp2 {
  animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-delay: .2s;
  -o-animation-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  -o-transition-delay: .2s;
}
.delayp3 {
  animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-delay: .3s;
  -o-animation-delay: .3s;
  transition-delay: .3s;
  -webkit-transition-delay: .3s;
  -moz-transition-delay: .3s;
  -o-transition-delay: .3s;
}
.delayp4 {
  animation-delay: .4s;
  -moz-animation-delay: .4s;
  -webkit-animation-delay: .4s;
  -o-animation-delay: .4s;
  transition-delay: .4s;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
}
.delayp5 {
  animation-delay: .5s;
  -moz-animation-delay: .5s;
  -webkit-animation-delay: .5s;
  -o-animation-delay: .5s;
  transition-delay: .5s;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -o-transition-delay: .5s;
}


/*---------------------------------------------------------------------*/
/*  3. PAGE LOADER
/*---------------------------------------------------------------------*/
#page-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff;
}
#page-loader .preload {
  width: 128px;
  height: 128px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -64px;
  margin-left: -64px;
}


/*---------------------------------------------------------------------*/
/*  4. NAVBAR
/*---------------------------------------------------------------------*/
.navbar.navbar-fixed-top {
  position: relative;
  margin: 0;
  border: 0;
  min-height: 60px;
  background-color: #222;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.2);
  z-index: 1030 !important;
}
@media (min-width: 768px) {
  .navbar.navbar-fixed-top {
    -webkit-transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
    -moz-transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
    transition: background 0.2s ease-in-out, padding 0.3s ease-in-out;
  }
}
.navbar.navbar-fixed-top .navbar-brand {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  height: 60px;
  line-height: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  letter-spacing: 0.1em;
}
.navbar.navbar-fixed-top .navbar-brand:hover {
  color: #fff;
}
.navbar.navbar-fixed-top .navbar-toggle {
  margin-top: 12px;
  background-color: #1abc9c;
}
.navbar.navbar-fixed-top .navbar-nav > li > a {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top .navbar-nav > li > a {
    height: 60px;
    line-height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.navbar.navbar-fixed-top .navbar-nav > li > a:hover {
  color: #1abc9c;
  background-color: #222;
}
.navbar.navbar-fixed-top .navbar-nav > li > a > i.fa-angle-down {
  padding-left: 2px;
}
.navbar.navbar-fixed-top .navbar-nav > li.active a,
.navbar.navbar-fixed-top .navbar-nav > li.active a:hover {
  background-color: #1abc9c;
  color: #fff;
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top .navbar-nav > li.active a,
  .navbar.navbar-fixed-top .navbar-nav > li.active a:hover {
    color: #fff;
    background-color: #1abc9c;
    background-repeat: repeat;
  }
}


/*---------------------------------------------------------------------*/
/*  4.1. NAVBAR - CENTER MENU
/*---------------------------------------------------------------------*/
@media (min-width: 992px) {
  .navbar.navbar-fixed-top.center-menu .navbar-nav {
    margin: 0 auto;
    float: none;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top.center-menu .navbar-nav > li {
    display: inline-block;
    float: none;
    padding-right: 5px;
    padding-left: 5px;
  }
}


/*---------------------------------------------------------------------*/
/*  4.2. NAVBAR - SIDE MENU
/*---------------------------------------------------------------------*/
@media (min-width: 992px) {
  .navbar.navbar-fixed-top.side-menu {
    z-index: 15;
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #222;
    box-shadow: none;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
  }
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top.side-menu .container {
    margin: 0;
    padding: 0;
    width: auto;
  }
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top.side-menu .navbar-header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
  }
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top.side-menu .navbar-header .navbar-brand {
    color: #aaa;
    float: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #aaa;
    border-radius: 2px;
  }
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top.side-menu .navbar-nav {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top.side-menu .navbar-nav > li {
    float: none;
  }
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top.side-menu .navbar-nav > li > a {
    color: #aaa;
    height: 42px;
    line-height: 42px;
    padding: 0px 30px;
  }
  .navbar.navbar-fixed-top.side-menu .navbar-nav > li > a:hover {
    color: #fff;
  }
}
.navbar.navbar-fixed-top.side-menu .navbar-nav > li.active > a {
  color: #fff;
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top.side-menu.left-slide-menu,
  .navbar.navbar-fixed-top.side-menu.left-push-menu {
    left: -250px;
  }
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top.side-menu.left-slide-menu.active,
  .navbar.navbar-fixed-top.side-menu.left-push-menu.active {
    left: 0;
  }
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top.side-menu.right-slide-menu,
  .navbar.navbar-fixed-top.side-menu.right-push-menu {
    right: -250px;
    left: auto;
  }
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top.side-menu.right-slide-menu.active,
  .navbar.navbar-fixed-top.side-menu.right-push-menu.active {
    right: 0;
  }
}
.navbar-trigger-open {
  z-index: 10;
  position: fixed;
  top: 0;
  margin-top: 25px;
}
.navbar-trigger-open a {
  color: #fff;
  font-size: 28px;
  background-color: #1abc9c;
  padding: 5px 15px;
  border-radius: 2px;
  opacity: 0.9;
}
.navbar-trigger-open.left {
  left: 0;
  margin-left: 20px;
}
.navbar-trigger-open.right {
  right: 0;
  margin-right: 20px;
}
span.navbar-trigger-close {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 25px;
  margin-top: 28px;
}
span.navbar-trigger-close a {
  color: #aaa;
  font-size: 28px;
}
span.navbar-trigger-close a:hover {
  color: #fff;
}


/*---------------------------------------------------------------------*/
/*  5. INTRO SECTION
/*---------------------------------------------------------------------*/


#intro:before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
}

@media (min-width: 1280px) {
  #intro {
    height: 100%;
    padding: 0px;
  }
}

#intro .parallax {
  width: 100%;
  height: 100%;
}
#intro .parallax > .bcg {
  display: table;
  width: 100%;
  height: 100%;
  background-image: url("../img/main-site/main_image_smaller.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
@media (min-width: 1280px) {
  #intro .parallax > .bcg {
    background-attachment: fixed;
  }
}

/*******************************************************************************
 *                         Information on the main-page                        *              <--------------- Div holding the content of the main page
 *******************************************************************************/
#intro .intro-body {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
}

@media (min-width: 1280px) {
  #intro .intro-body {
    padding-top: 75px;
    padding-bottom: 20px;
  }
}
/*******************************************************************************
 *                              The Cardio Logo is here                        *                <---------------The logo is here
 *******************************************************************************/

#intro .intro-body .logo {
  display: block;
  width: 110px;
  height: 110px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: auto;
}
/*******************************************************************************
 *                   The text after the cardio logo                            *                <----------------Text after content
 *******************************************************************************/
#intro .intro-body .intro-text {
    font-family: 'Raleway';
}

#intro .intro-body .intro-text h2 {
    color: #fff;
    font-size: 50px;
    font-family: 'Playfair Display';
    margin-bottom: 0;
}

#intro .intro-body .intro-text h2:first {
    font-weight: 200;
}

#intro .intro-body .intro-text h2:nth-child(2) {
    font-weight: 600;
}

.line-between-content {
    border: 2px solid white;
    width: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media (max-width: 991px) {
    #intro .intro-body .intro-text {
        margin-top: 50px;
    }
}

@media (min-width: 768px) {
    #intro .intro-body .intro-text h2 {
        font-size: 45px;
    }
}

#intro .intro-body .intro-text p.lead {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
}

@media (min-width: 768px) {
    #intro .intro-body .intro-text p.lead {
        font-size: 26px;
    }
}

@media (min-width: 1037px) and (max-width: 1151px) {
    #intro .intro-body .intro-text {
        margin-top: 35px;
    }
}

@media (min-width: 1152px) {
    #intro .intro-body .intro-text {
        margin-top: 165px;
    }
}

/*******************************************************************************
 *                  The Read More Button In The Main Menu                      *
 *******************************************************************************/
#intro .intro-body .page-scroll {
    margin-top: 30px;
}


.page-scroll a {
    border: 1px solid white;
    text-decoration: none;
    border-radius: 0px;
    color: white;
}

.page-scroll a:visited {
    text-decoration: none;
}

.hover-button {
    background-color: white;
    color: black;
}

@media (min-width: 690px) and (max-width: 891px) {
    #intro .intro-body .page-scroll {
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
  #intro .intro-body .page-scroll {

  }
}
#intro .intro-body .page-scroll a.btn {
  font-family: 'Raleway';
}
@media (min-width: 768px) {
  #intro .intro-body .page-scroll a.btn {
    padding: 10px 30px 10px 30px;
    font-size: 20px;
  }
}

@media (min-width: 1152px) {
    #intro .intro-body .page-scroll {
        margin-top: 130px;
    }
}




/*body {
    margin-top: 50px;
    margin-bottom: 50px;
    background: none;
}

.full {
  background: url("../img/main-site/main_image_smaller.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;


.homepage-image {
    padding:0px;
}


.cardio-site-title {
    font-family: 'Playfair Display', serif;
    position: absolute;
    left: 33%;
    text-align: center;
    top: 45%;
    z-index: 1;
    color: white;
    font-size: 50px;
    width: 30%;
    line-height: 1;

}
.cardio-paragraph {
    font-size: 23px;
    font-family: 'Playfair Display', serif;
    position: absolute;
    left: 23%;
    text-align: center;
    top: 74%;
    color: white
}

.homepage-image img {
    width: 100%;
    margin-bottom: -100px;
}
.cardiologo-img img {
    position: absolute;
    left: 45%;
    top: 9%;
    width: 8%;
}

.cardio-cool-line {
    border: 2px solid white;
    width: 30%;
    margin-top: 70px;
}

.cardio-site-title p:first-child {
    font-weight: 200;
}
.cardio-site-title p:nth-child(2) {
    font-weight: 600;
}

/*******************************************************************************
 *                            Nav bar styling                                  *
 ******************************************************************************
*/
.affix {
    top: 0;
    width: 100%;
  }

.affix + .container-fluid {
    padding-top: 70px;
  }

.size-off-the-navbar {
    padding-top: 15px;
    height: 80px;
    text-align: center;
    opacity: 0.8;
    bottom: 80px;
    border-radius: 0;
}

.size-off-the-navbar .nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Raleway';
    color: #964c36;
}

/*-----------------------------------------------------------------------------*
 |                                                                             |
 |                        Media Query for resposive view                       |
 |                                                                             |
 *-----------------------------------------------------------------------------*/
/*@media screen and (max-width: 1200px) {
    .cardiologo-img {
        max-width: 90%;
    }
}*/
/*@media screen and (max-width: 1200px) {
    .homepage-image img {
        width: 100%;
    }
    .cardiologo-img img {
        max-width: 80%;
    }
}*/