/*******************************************************************************
 *                    Fonts to be used in this project                         *
 *******************************************************************************/
@import 'https://fonts.googleapis.com/css?family=Playfair+Display|Raleway';
/*              Example                   
    font-family: 'Raleway', sans-serif;
    font-family: 'Playfair Display', serif;
*/

/*******************************************************************************
 *                            Home Page Styling                                *
 *******************************************************************************/

.homepage-image {
    padding:0px;
}
.cardiologo-img {
    position: absolute;
    left: 45%;
    top: 15%;
    
}
.cardio-site-title {
    font-family: 'Playfair Display', serif;
    position: relative;
    text-align: center;
    bottom: 531px;
    color: white;
    font-size: 50px;
}
.cardio-paragraph p{
    padding: 0px 200px 0px 200px;
    font-size: 23px;
}

.homepage-image img {
    width: 100%;
    margin-bottom: -100px;
    height: auto;
    /*height: 980px; */
}
.cardiologo-img img {
/*    height: 100px;*/
width: 100%;
}
/*******************************************************************************
 *                            Nav bar styling                                  *
 *******************************************************************************/

.affix {
    top: 0;
    width: 100%;
  }

.affix + .container-fluid {
    padding-top: 70px;
  }

.size-off-the-navbar {
    padding-top: 25px;
    height: 100px;
    text-align: center;
    opacity: 0.8;
}

.size-off-the-navbar .nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.main-menu-links {
    font-family: 'Raleway';
    color: #964c36;
}

/*-----------------------------------------------------------------------------*
 |                                                                             |
 |                        Media Query for resposive view                       |
 |                                                                             |
 *-----------------------------------------------------------------------------*/
/*@media screen and (max-width: 1200px) {
    .cardiologo-img {
        max-width: 90%;
    }
}*/
/*@media screen and (max-width: 1200px) {
    .homepage-image img {
        width: 100%;
    }
    .cardiologo-img img {
        max-width: 80%;
    }
}*/